    <section id="vehicle-explorer">
        <div class="vehicle-explorer-title" style="padding: 48px 0 12px 0; text-align: center;">
        <h2>Nuestros Modelos</h2>
        </div>
        <div class="vehicle-explorer-container">
            <nav class="vehicle-tabs-nav">
                <ul class="vehicle-tabs-list">
                    <li class="vehicle-tab-item">
                        <a href="" class="vehicle-tab-link active" data-tab="destacados">Destacados</a>
                    </li>
                    <li class="vehicle-tab-item">
                        <a href="" class="vehicle-tab-link" data-tab="todos">Todos</a>
                    </li>
                    <li class="vehicle-tab-item">
                        <a href="" class="vehicle-tab-link" data-tab="autos">Autos</a>
                    </li>
                    <li class="vehicle-tab-item">
                        <a href="" class="vehicle-tab-link" data-tab="suvs">SUVs</a>
                    </li>
                </ul>
            </nav>

            <div class="vehicle-tabs-content">

                <div id="destacados" class="vehicle-tab-panel active">
                    <div class="vehicle-grid">
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/magnite/my25/vap/nissan-2025-magnite-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Magnite">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Magnite</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/xtrail_e_power/my25/vap/nissan-2025-xtrail_e_power-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan X-Trail e-POWER">
                            </div>
                            <h4 class="vehicle-item-name">Nissan X-Trail e-POWER</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/kicks/my25/vap/nissan-2025-kicks_platinum-cvt-gris-metalico-bitono_vista_lateral.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Kicks">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Kicks</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/sentra/my25/vap/nissan-2025-sentra.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Sentra">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Sentra</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/kicks_play_e_power/my25/vap/nissan-2025-kicks_play_e_power.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Kicks Play e-Power">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Kicks Play e-Power</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/versa/my25/vap/nissan-2025-versa-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Versa">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Versa</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/z/my25/vap/nissan-2025-z-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Z">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Z</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/xtrail/my26/vap/nissan-2026-xtrail-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan X-Trail">
                            </div>
                            <h4 class="vehicle-item-name">Nissan X-Trail</h4>
                        </div>
                    </div>
                </div>

                <div id="todos" class="vehicle-tab-panel">
                    <div class="vehicle-grid">
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/magnite/my25/vap/nissan-2025-magnite-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Magnite">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Magnite</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/xtrail_e_power/my25/vap/nissan-2025-xtrail_e_power-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan X-Trail e-POWER">
                            </div>
                            <h4 class="vehicle-item-name">Nissan X-Trail e-POWER</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/kicks/my25/vap/nissan-2025-kicks_platinum-cvt-gris-metalico-bitono_vista_lateral.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Kicks">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Kicks</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/sentra/my25/vap/nissan-2025-sentra.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Sentra">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Sentra</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/kicks_play_e_power/my25/vap/nissan-2025-kicks_play_e_power.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Kicks Play e-Power">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Kicks Play e-Power</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/versa/my25/vap/nissan-2025-versa-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Versa">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Versa</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/z/my25/vap/nissan-2025-z-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Z">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Z</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/xtrail/my26/vap/nissan-2026-xtrail-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan X-Trail">
                            </div>
                            <h4 class="vehicle-item-name">Nissan X-Trail</h4>
                        </div>
                    </div>
                </div>

                <div id="autos" class="vehicle-tab-panel">
                    <div class="vehicle-grid">
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/sentra/my25/vap/nissan-2025-sentra.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Sentra">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Sentra</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/versa/my25/vap/nissan-2025-versa-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Versa">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Versa</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/z/my25/vap/nissan-2025-z-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Z">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Z</h4>
                        </div>
                    </div>
                </div>

                <div id="suvs" class="vehicle-tab-panel">
                    <div class="vehicle-grid">
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/xtrail/my26/vap/nissan-2026-xtrail-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan X-Trail">
                            </div>
                            <h4 class="vehicle-item-name">Nissan X-Trail</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/magnite/my25/vap/nissan-2025-magnite-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Magnite">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Magnite</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/xtrail_e_power/my25/vap/nissan-2025-xtrail_e_power-d.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan X-Trail e-POWER">
                            </div>
                            <h4 class="vehicle-item-name">Nissan X-Trail e-POWER</h4>
                        </div>
                        <div class="vehicle-item">
                            <div class="vehicle-item-image">
                                <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/kicks/my25/vap/nissan-2025-kicks_platinum-cvt-gris-metalico-bitono_vista_lateral.jpg.ximg.l_3_m.smart.jpg"
                                    alt="Nissan Kicks">
                            </div>
                            <h4 class="vehicle-item-name">Nissan Kicks</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </section>

    <style>
        /* ---------------------------------------------------------------------- */
        /* EXPLORADOR DE VEHÍCULOS */
        /* ---------------------------------------------------------------------- */

        #vehicle-explorer {
            padding: 60px 0;
            background-color: #ffffff;
            /* Fondo blanco como en la imagen */
        }

        /* Usamos un contenedor para centrar el contenido */
        .vehicle-explorer-container {
            max-width: 1280px;
            /* Ancho máximo para el contenido */
            margin: 0 auto;
            padding: 0 20px;
            /* Espaciado lateral en móviles */
        }

        /* --- Estilos de la Navegación por Pestañas (Tabs) --- */

        .vehicle-tabs-nav {
            display: flex;
            justify-content: center;
            /* Centra las pestañas */
            margin-bottom: 40px;
            border-bottom: 1px solid #e0e0e0;
            /* Línea gris sutil */
        }

        .vehicle-tabs-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            /* Evita que las pestañas se rompan en dos líneas */
        }

        .vehicle-tab-item {
            margin: 0 5px;
        }

        .vehicle-tab-link {
            display: block;
            padding: 12px 16px;
            font-family: var(--font-family-base);
            font-weight: 700;
            /* Bold */
            color: var(--color-secondary);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.875rem;
            /* 14px */
            letter-spacing: 0.5px;
            border-bottom: 3px solid transparent;
            /* Borde inferior para estado activo */
            margin-bottom: -2px;
            /* Alinea el borde con la línea principal */
            transition: color 0.3s ease, border-color 0.3s ease;
        }

        .vehicle-tab-link:hover {
            color: var(--color-primary);
        }

        .vehicle-tab-link.active {
            color: var(--color-primary);
            border-bottom-color: var(--color-primary);
            /* Subrayado activo */
        }

        /* --- Estilos del Contenido de las Pestañas --- */

        .vehicle-tab-panel {
            display: none;
            /* Oculto por defecto */
        }

        .vehicle-tab-panel.active {
            display: block;
            /* Visible cuando está activo */
            animation: fadeIn 0.5s ease;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }



        .vehicle-grid {
            display: grid;
            gap: 30px 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        .vehicle-item {
            text-align: center;
            transition: transform 0.3s ease;
        }

        .vehicle-item:hover {
            transform: scale(1.03);
        }

        .vehicle-item-image {
            margin-bottom: 15px;
            border-radius: var(--border-radius-sm);
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 16 / 10;
        }

        .vehicle-item-image img {
            max-width: 100%;
            width: 100%;
            height: auto;
            max-width: 250px;
            object-fit: contain;
        }

        .vehicle-item-name {
            font-family: var(--font-family-base);
            font-weight: 700;
            font-size: 1rem;
            color: var(--color-primary);
            margin: 0;
        }



        @media (min-width: 768px) {
            .vehicle-grid {
                grid-template-columns: repeat(3, 1fr);
            }

            .vehicle-tab-link {
                padding: 15px 20px;
                font-size: 1rem;
            }
        }

        @media (min-width: 1024px) {
            .vehicle-grid {
                grid-template-columns: repeat(5, 1fr);
            }
        }

        @media (max-width: 767px) {
            .vehicle-tabs-nav {
                justify-content: flex-start;
                -webkit-overflow-scrolling: touch;
            }
        }
    </style>
    <script>
        const tabLinks = document.querySelectorAll('.vehicle-tab-link');
        const tabPanels = document.querySelectorAll('.vehicle-tab-panel');

        tabLinks.forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();

                const targetTab = link.getAttribute('data-tab')!;
                const targetPanel = document.getElementById(targetTab);

                tabLinks.forEach(item => item.classList.remove('active'));
                tabPanels.forEach(panel => panel.classList.remove('active'));

                link.classList.add('active');
                if (targetPanel) {
                    targetPanel.classList.add('active');
                }
            });
        });
    </script>
