---
import '../styles/global.css';
import Header from '../components/Header.astro';
import { getAgencyInfo } from '../lib/strapi.ts';

export interface Props {
  title: string;
}

const { title } = Astro.props;

const agencyInfo = await getAgencyInfo();
const agencyName = agencyInfo?.agencyName || "Agencia (Error)";
const phoneNumber = agencyInfo?.agencyPhone || "000-000-0000";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="https://cdn.dlron.us/assets/fonts/nissanbrandW01/NissanBrandW01-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="https://cdn.dlron.us/assets/fonts/nissanbrandW01/NissanBrandW01-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="https://cdn.dlron.us/assets/fonts/nissanbrandW01/NissanBrandW01-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <title>{title}</title>
  </head>
  <body>
    <Header agencyName={agencyName} phoneNumber={phoneNumber} />

    <main>
      <slot />
    </main>
    
  </body>
</html>